.card-image-size {
  float: left;
    width:  100;
    height: 100px;
    object-fit: cover;
}

.exp-h {
  font-size: 3em;
}

.icon {
  background: url('../assets/zf.JPG');
  height: 30px;
  width: 30px;
  display: block;
  /* Other styles here */
}

.container-logo {
  display: inline-block;
}