/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS */
:root {
    /* declare a variable with `--` syntax */
    --back: #d7dce4;
    --text: rgb(55, 54, 149);
    --back2: #7e7e7e;
  }

/* Universal Selector */
* {
    margin:0;
    padding:0;  
    box-sizing: border-box;
  }
  
  /* Element Selectors */
  a {
    text-decoration: none;
    color: #FDF8F5;
    text-align: center;
  }

  body {
    font-family: "Garamond";
    font-size: 20px;
    background-color: var(--back);
    color: var(--text);
  }

  footer {
    margin-top: 0;
    bottom: 0;
    border-top: 1px solid var(--back2);    
  }

  header {

    /*
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: 10px solid var(--back2);
    height: 60px;
    width: 100%;
    line-height: 20px;
    background-color: var(--back);
    */
  }
  
  h1 {
    border-right: solid 2px var(--text);
    border-bottom: solid 2px var(--text);
    padding-left: 30px;
    padding-right: 20px;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

  main {
    padding: 80px 0;
  }

  p {
    padding: 50px;
  }

  /* Class Selectors */
  .container {
    display: flex;
    justify-content: center;
  }

  .container-a {
    margin-top: 2px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 2px;
    border-bottom: solid 2px var(--text);
  }

  .container-div {
    flex: 1;
    background-color: var(--back2);
  }

  .container-h {
    flex: 1 10 200px;
    text-align: right;
    border-right: solid 3px var(--text);
    padding-right: 20px;
    margin-bottom: 50px;
  }

  .container-header {
    display: flex;
  }

  .container-content {
    flex: 100 1 500px;
    padding-left: 20px;
    margin-bottom: 50px;
  }

  .container-nav {
    display: flex;
    justify-content: flex-end;
    background-color: var(--back2);
  }

  .first-card{
    width: 50%;
  } 

  .other-card{
    width: 25%;
  } 

  /* Identifier */
  #profile {
    border-radius: 20%;
    width: 30%;
  }

  /* Pseudo Classes */
  a:hover, a:active, a:focus {
    opacity: 0.5;
    border-bottom: none;
  }

  /* Media Query at 650px or smaller */
  @media screen and (max-width: 650px) {
    .container {
      flex-wrap: wrap;
    }

    .container-a {
      border-bottom: none;
      border: solid 2px var(--text);
      margin-top: 0px;
      margin-right: 0px;
      margin-left: 0px;
      margin-bottom: 0px;
      padding: 5px;
    }

    .container-h {
      text-align: center;
      border-right: none;
    }

    .container-header {
      justify-content: center;
    }

    .container-nav {
      flex-direction: column;
    }
    .container-div {
      display: none;
    }
    h1 {
      border-right: none;
      border-bottom: none;
    }
  }