/* CSS Variables */
:root {
  /* declare a variable with `--` syntax */
  --back: #d7dce4;
  --text: rgb(105, 104, 211);
  --back2: #22e6c5;
  --color1: #ad739a;
  --color2: #bd7342;
  --color3: #4090b6;
  --color4: #268676;
}

/* Universal Selector */
* {
  margin:0;
  padding:0;  
  box-sizing: border-box;
}

/* Element Selectors */
a {
  font-size: 1.2em;
  text-decoration: none;
  color: #FDF8F5;
  text-align: center;
}

body {
  font-family: "Garamond";
  font-size: 20px;
  background-color: var(--back);
  color: var(--text);
}

footer {
  margin-top: 0;
  bottom: 0;
  border-top: 1px solid var(--back2);    
}

h1 {
  font-size: 2.8em;
  font-weight: bolder;
  padding-left: 30px;
  padding-right: 20px;
  background-color: var(--back2);
  color: white;
}

h2, h3, h4, h5 {
  font-size: 1.8em;
}

main {
  padding: 80px 0;
  margin-right: 100px;
}

p {
  font-size: 1.3em;
  padding: 50px;
}

/* Class Selectors */
.container {
  display: flex;
  justify-content: center;
  width: 85%;
}

.container-a1, .container-a2, .container-a3, .container-a4 {
  margin-top: 2px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 2px;
  border-bottom: solid 2px var(--text);
}

.container-a1 {
  color: var(--color1);
}

.container-a2 {
  color: var(--color2);
}

.container-a3 {
  color: var(--color3);
}

.container-a4 {
  color: var(--color4);
}

.container-content {
  flex: 100 1 500px;
  padding-left: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.container-div {
  flex: 1;
  background-color: var(--back2);
}

.container-h {
  flex: 1 1 280px;
  text-align: right;
  border-right: solid 3px var(--text);
  padding-right: 20px;
  margin-bottom: 50px;
}

.container-header {
  display: flex;
}

.container-nav {
  display: flex;
  justify-content: flex-end;
  background-color: var(--back2);
}

.container-content a {
  margin: 5px;
}

.icons {
  width: 100%;
  border-radius: 10%;
}

.images {
  width: 100%;
}

.image-links {
  flex: 1 1 200px;
}

.text-block {
  position: relative;
  display: flex;
  width: fit-content;
  padding: 5px;
  bottom: 50px;
  background-color: var(--text);
}

.text-right {
  text-align: right;
}

/* Identifier */
#about-me {
  color: var(--color1);
}

#work {
  color: var(--color2);
}

#contact {
  color: var(--color3);
}

#resume {
  color: var(--color4)
}

#profile {
  display: block;
  padding: 10px;
  border-radius: 20%;
  margin: auto;
  width: 20%;
}

#first-image {
  flex-basis: 100%;
  flex-grow: 1;
}

#icons {
  flex-direction: column;
  align-items: flex-start;
}

#icons a {
  width: 10%;
}

/* Pseudo Classes */
a:hover, a:active, a:focus {
  opacity: 0.5;
  border-bottom: none;
}

/* Media Query at 650px or smaller */
@media screen and (max-width: 650px) {
  .container {
    flex-wrap: wrap;
    width: 100%;
  }

  .container-a {
    border-bottom: none;
    border: solid 2px var(--text);
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 5px;
  }

  .container-h {
    text-align: center;
    border-right: none;
  }

  .container-header {
    justify-content: center;
    background-color: var(--back2);
  }

  .container-nav {
    flex-direction: column;
  }
  .container-div {
    display: none;
  }
  h1 {
    border-right: none;
    border-bottom: none;
  }

  main {
    padding: 0;
    margin-right: 20px;
  }

  #icons {
    align-items: center;
  }
}