/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS */
:root {
    /* declare a variable with `--` syntax */
    --back: #d7dce4;
    --text: rgb(55, 54, 149);
    --back2: #7e7e7e;
  }

/* Universal Selector */
* {
    margin:0;
    padding:0;  
    box-sizing: border-box;
  }
  
  /* Element Selectors */
  a {
    text-decoration: none;
    color: #FDF8F5;
    text-align: center;
  }

  body {
    font-family: "Garamond";
    font-size: 20px;
    background-color: var(--back);
    color: var(--text);
  }

  footer {
    margin-top: 0;
    bottom: 0;
    border-top: 1px solid var(--back2);    
  }

  header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: 10px solid var(--back2);
    height: 60px;
    width: 100%;
    line-height: 20px;
    background-color: var(--back);
  }
  
  h1 {
    margin: 20px;
  }

  h2, h3, h4 {
	  padding: 10px;
    text-align: right;
    border-right: 4px solid var(--text);
    padding: 0px 10px 50px 10px;
    margin: 20px;
  }

  img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }

  main {
    padding: 60px 0;
  }

  nav {
    background-color: var(--back2);
    display: flex;
    /* Align the child elements to the right side of the parent */
    justify-content: flex-end;
    padding: 10px;
    text-align: center;
  }

  p {
    padding: 20px;
  }
  
  section {
    display: flex;
    width: 70%;
    margin: auto;
    padding: 20px 10px 50px 10px;
  }
   
  /* Class Selectors */
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }

  .content {
    display: block;
  }
  
  .contact-list li {
    margin: 20px;
    display: block;
  }

  .work-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex: 1 0 200px;
  }

  .work-card img{
    width: 100%;
  }

  .card1 {
    width: 100%;
  }
  .card2 {
    width: 50%;
  }
  .card3 {
    width: 50%;
  }


  /* Identifier */
  #profile {
    border-radius: 20%;
  }
  
  /* Pseudo Classes */
  a:hover, a:active, a:focus {
    opacity: 0.5;
  }

  /* Media Query at 992px or smaller */
@media screen and (max-width: 650px) {
  main,
  nav, .work-card, header {
    flex-direction: column;
  }
}


