/* create custom CSS variables (also called custom properties) and apply them to the root of the page, making them accessible to all other CSS */
:root {
    /* declare a variable with `--` syntax */
    --dark-blue: #081731;
    --light: #fff;
    --neon-green: #8aeccb;
  }

/* Universal Selector */
* {
    margin:0;
    padding:0;  
  }
  
  /* Element Selectors */
  a {
    text-decoration: none;
    color: #FDF8F5;
  }

  body {
    position: relative;
    font-family: "Garamond";
    font-size: 20px;
    background-color: var(--dark-blue);
    color: var(--light);
  }

  button {
    height: 40px;
    width: 120px;
    background-color: #4F4846;
    color: #FDF8F5;
  }

  footer {
    margin-top: 0;
    bottom: 0;
    border-top: 1px solid var(--neon-green);    
  }

  form {
    /* Center the form on the page */
    margin: 0 auto;
    width: 500px;
    padding: 10px;
  }

  header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    border-bottom: 10px solid var(--neon-green);
    height: 60px;
    width: 100%;
    line-height: 20px;
    background-color: var(--dark-blue);
  }
  
  h1 {
    margin: 20px;
  }

  h2, h3, h4 {
    width: 80px;
    justify-content: flex-start;
    text-align: right;
    border-right: 4px solid var(--light);
    padding: 0px 10px 50px 10px;
    margin: 10px;
  }

  input {
    box-sizing: border-box;
    width: 300px;
    border: 1px solid #4F4846;
  }

  img {
    border-radius: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 40%;
    padding: 10px;
  }

  label {
    display: inline-block;
    width: 100px;
  }
  
  li {
    display: inline;
    padding: 0px 20px;
    text-decoration: none;
  }

  main {
    padding: 60px 0;
  }

  nav {
    display: flex;
    /* Align the child elements to the right side of the parent */
    justify-content: flex-end;
    padding: 10px;
    text-align: center;
  }

  p {
    padding: 20px;
  }
  
  section {
    display: flex;
    width: 75%;
    margin: auto;
    padding: 20px 10px 50px 10px;
  }
  
  textarea {
    vertical-align: top;
    height: 60px;
  }
    
   
  /* Class Selectors */
  .text-center {
    text-align: center;
  }
  
  .text-right {
    text-align: right;
  }
  